<div class="flex flex-row gap-2 md:gap-10 justify-center">
    <button class="button-base w-[200px]" routerLink="/">
        Home
    </button>
    <!-- <button class="button-base flex-1">
        AI Guide
    </button> -->
    <button class="button-base w-[200px]" routerLink="/ticket-form">
        Create OPR Ticket
    </button>

     <button class="button-base w-[250px]" routerLink="/customer-onboarding">
        Array Customer Onboarding
    </button>
    <!-- <button class="button-base flex-1">
        Favorite
    </button>
    <button class="button-base flex-1">
        Config
    </button> -->
</div>
